{{- $bootstrapAlert := resources.Get "js/bootstrap-alert--custom.js" -}}
{{- $bootstrapMeomNavigation := resources.Get "js/meom-wvu-site-navigation--custom.js" | js.Build -}}
{{- $parvusGallery := resources.Get "js/parvus-gallery--custom.js" -}}

{{- $scripts := slice $bootstrapAlert $parvusGallery | resources.Concat "js/main.js" -}}

<script src="{{ $bootstrapMeomNavigation.RelPermalink }}" type="module"></script>
<script src="https://kit.fontawesome.com/b8c6c2a41e.js" crossorigin="anonymous"></script>

{{- $jsBundle := $scripts | js.Build -}} 
{{ $jsBundle := $jsBundle | resources.Fingerprint }}
<script defer src="{{ $jsBundle.RelPermalink }}"></script>